#The name of your workflow.
name: Publish package and page. 
# Trigger the workflow on push or pull request
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
#A workflow run is made up of one or more jobs. Jobs run in parallel by default.
jobs:
  test:
    #The type of machine to run the job on. [windows,macos, ubuntu , self-hosted]
    defaults:
      run:
        working-directory: ./
    runs-on: ubuntu-latest
    #sequence of tasks called
    steps:
      # The branch or tag ref that triggered the workflow will be checked out.
      # https://github.com/actions/checkout
      - uses: actions/checkout@v1
      # Setup a flutter environment.
      # https://github.com/marketplace/actions/flutter-action
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: "2.8.0"
          channel: "stable"

      - run: flutter pub get
      - run: flutter analyze
      - name: build web page
        run: |
          cd example
          ls
          git clone -b web https://github.com/Psyonix-Tech/material_theme_parser.git
          cd material_theme_parser
          rm -rf `find . ! -name ".git" ! -name "." ! -name ".."`
          ls -a
          cd ..
          flutter build web --release
          # build then this
          cp -r ./build/web/* material_theme_parser/
          cd material_theme_parser
          git push origing web
          cp build/web 
      - run: echo "back to ori"
      
      # # run  flutter widgets tests  and unit tests1
      # - run: flutter test --coverage
      # # Upload coverage reports to Codecov
      # # https://github.com/marketplace/actions/codecov
      # - uses: codecov/codecov-action@v1.0.7