#The name of your workflow.
name: Publish package and page. 
# Trigger the workflow on push or pull request
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
#A workflow run is made up of one or more jobs. Jobs run in parallel by default.
jobs:
  test:
    #The type of machine to run the job on. [windows,macos, ubuntu , self-hosted]
    defaults:
      run:
        working-directory: ./
    runs-on: ubuntu-latest
    #sequence of tasks called
    steps:
      # The branch or tag ref that triggered the workflow will be checked out.
      # https://github.com/actions/checkout
      - uses: actions/checkout@v1
      # Setup a flutter environment.
      # https://github.com/marketplace/actions/flutter-action
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: "2.8.0"
          channel: "stable"
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          name: id_rsa # optional
          known_hosts: ${{ secrets.KNOWN_HOSTS }}
      - run: flutter pub get
      # - run: flutter analyze
      - name: build web page
        run: |
          cd example
          git clone -b web git@github.com:Psyonix-Tech/material_theme_parser.git
          cd material_theme_parser
          git branch
          ls -a
          mv .git/ ../
          rm -rf *
          mv ../.git .git
          git branch
          ls -a
          cd ..
          flutter build web --release
          # build then this
          cp -r ./build/web/* material_theme_parser/
          cd material_theme_parser
          git config --global user.email "yousuf.mg.hammad@gmail.com"
          git config --global user.name "psyonixFx"
          git add --all
          git commit -m "CI build"
          git remote -v
          git push -u origin web
      - run: echo "back to ori"
      
      # # run  flutter widgets tests  and unit tests1
      # - run: flutter test --coverage
      # # Upload coverage reports to Codecov
      # # https://github.com/marketplace/actions/codecov
      # - uses: codecov/codecov-action@v1.0.7